@font-face{
    font-family: 'CircularSpotify';
    src: url(./assets/font/CircularSpotify-UI-Latin-OS2v3-Book.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'CircularSpotify';
    src: url(./assets/font/CircularSpotify-UI-Latin-OS2v3-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'CircularSpotify';
    src: url(./assets/font/CircularSpotify-UI-Latin-OS2v3-Black.woff2) format('woff2');
    font-weight: 900;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body{
    background-color: #121212;
    font-family: 'CircularSpotify', sans-serif;
    font-weight: 400;
    color: #fff;
}

div{
    display: block;
    unicode-bidi: isolate;
}

main{
    display: block;
    unicode-bidi: isolate;
}

.corpo{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: normal;
    align-items: normal;

    inline-size: 100%;
    min-block-size: 100%;
    overflow-wrap: break-word;
    overflow: auto;
    padding-block-start: 96px;
}

.logoSpot{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: center;
    align-items: center;

    padding-inline-start: 32px;
    padding-inline-end: 32px;
    padding-block-end: 4px;

    min-height: 48px;
    overflow: hidden;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: content-box;
}

.page{
    -webkit-box-flex: 1;
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: center;
    align-items: normal;

    width: 100%;

    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: 0px;
}

.form{
    box-sizing: content-box;
    padding: 32px;
    width: 324px;
}

h1{
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    text-wrap: balance;
    text-wrap-mode: initial;
    text-wrap-style: balance;
}

.zeroum{
    display: block;
    width: 100%;
}

.zerodois{
    min-inline-size: 0px;
    padding-inline: 0px;
    padding-block-start: 0px;
    border: 0px;
}

.zerotres{
    padding-inline: 0px;
}

.usuario{
    font-weight: 700;
    font-size: 14px;
}

h1, .usuario, input {
    box-sizing: border-box;
    margin-block: 0;
}

input{
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    margin-block: 10px;
    min-block-size: 48px;
    padding-block: 12px;
    padding-inline: 12px;
    background-color: #121212;
    box-shadow: inset 0 0 0 1px;
    color: #fff;
    display: block;
    inline-size: 100%;
    border: 0;
}

a{
    font-size: 14px;
    color: #1ed760;
    align-items: center;
    overflow-wrap: break-word;
    box-sizing: border-box;
}

button{
    margin-block-start: 16px;
    font-weight: 700;
    font-size: 16px;
    align-self: center;
    min-inline-size: 0;
    padding: 0;
    outline-color: rgba(0, 0, 0, 0);
    outline-style: solid;
    outline-width: 3px;
    outline-offset: 3px;
    inline-size: 100%;
    background-color: #1ed760;
    border: 0;
    border-radius: 9999px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    box-sizing: border-box;
    padding-block: 1px;
    padding-inline: 6px;
    padding: 14px 32px;

}
/*img{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    padding-block-end: 4px;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    align-content: normal;
    box-sizing: content-box;
    padding: 0 24px 4px;
    margin: 50px 0 0 50%;
}*/


/*
h1, h2, h3{
    font-weight: 800;
}

button, .btn{
    font-weight: 700;
}

small, p, input, label{
    font-weight: 400;
}
*/
